[submodule "recommend-movie-app"]
	path = recommend-movie-app
	url = https://github.com/toy-project-kyungsle/recommend-movie-app.git
[submodule "react-boiler-plate"]
	path = react-boiler-plate
	url = https://github.com/toy-project-kyungsle/react-boiler-plate.git
[submodule "q-board-client"]
	path = q-board-client
	url = https://github.com/toy-project-kyungsle/q-board-client.git
[submodule "q-board-server"]
	path = q-board-server
	url = https://github.com/toy-project-kyungsle/q-board-server.git
[submodule "drag-drop-puzzle"]
	path = drag-drop-puzzle
	url = https://github.com/toy-project-kyungsle/drag-drop-puzzle.git
[submodule "extract-string"]
	path = extract-string
	url = https://github.com/toy-project-kyungsle/extract-string.git
[submodule "bae-duo-server"]
	path = bae-duo-server
	url = https://github.com/toy-project-kyungsle/bae-duo-server.git
[submodule "bae-duo-client"]
	path = bae-duo-client
	url = https://github.com/toy-project-kyungsle/bae-duo-client.git
[submodule "my-blog-client"]
	path = my-blog-client
	url = https://github.com/toy-project-kyungsle/my-blog-client.git
[submodule "my-blog-server"]
	path = my-blog-server
	url = https://github.com/toy-project-kyungsle/my-blog-server.git
[submodule "my-blog-image-server"]
	path = my-blog-image-server
	url = https://github.com/toy-project-kyungsle/my-blog-image-server.git
[submodule "comment-book"]
	path = comment-book
	url = https://github.com/toy-project-kyungsle/comment-book.git
[submodule "npm-common-package"]
	path = npm-common-package
	url = https://github.com/toy-project-kyungsle/npm-common-package.git

[submodule "clone-youtube"]
	path = clone-youtube
	url = https://github.com/toy-project-kyungsle/clone-youtube.git
[submodule "clone-slack"]
	path = clone-slack
	url = https://github.com/toy-project-kyungsle/clone-slack.git
[submodule "clone-twitter"]
	path = clone-twitter
	url = https://github.com/toy-project-kyungsle/clone-twitter.git
[submodule "shorten-link"]
	path = shorten-link
	url = https://github.com/toy-project-kyungsle/shorten-link.git